[2019-05-12 22:47] kyr0 opened #1 "Application doesn't start shortly after quit"
Due to:

<img width="583" alt="Bildschirmfoto 2019-05-13 um 00 47 00" src="https://user-images.githubusercontent.com/454817/57588715-ac2ff600-7518-11e9-8480-c2031f71a9fa.png">

[2019-05-12 22:49] kyr0 opened #2 "Application shows "Application quit with errors" dialog after quit"
Due to:

Segmentation fault 11

<img width="608" alt="Bildschirmfoto 2019-05-13 um 00 48 57" src="https://user-images.githubusercontent.com/454817/57588728-ee593780-7518-11e9-9181-920b9d1ab83b.png">

[2019-05-12 22:50] kyr0 opened #3 "Shows obscure syntax error messages"
OpenGL 3.0 render options -> Shader manager

<img width="500" alt="Bildschirmfoto 2019-05-13 um 00 50 02" src="https://user-images.githubusercontent.com/454817/57588746-21033000-7519-11e9-8d7b-a493fdc43ab6.png">

[2019-07-16 05:34] mortinus opened #4 "PCem-MacOSX Metal release"
Hi,
I would like to know if PCem-MacOSX will run on new MAC OS with Metal libraries without the support for OpenGL.

Next fall, with the new Catalina OS, only structured applications for Metal/64bit will be able to run superbly, the other are deprecated.

Bye

[2019-07-18 07:13] kyr0 commented on #4
Hi mortinus,

yeah, I did ran across that issue as well. This mostly depends on SDL2's Metal support and how compatible the shader interfaces will be. If SDL2 adds support for Metal 3D (2D is supported since 2.0.8) it should be quite easy to update to a new minor/patch version of SDL2 and add Metal to
https://github.com/kyr0/PCemV14MacOSX/blob/4b3abd05a3852fded1ac77340e7b50c8fa788db5/src/wx-sdl2-v

[2019-07-26 06:12] Haroldo64 commented on #4
Great emulator, we hope it will be updated on Mac OS next fall ...and after !!!

Thanks
BYE

[2019-07-26 06:16] DaitarnIII commented on #4
Oh yes, this kind of emulartor is a need for Mac OS users !

Thanks

[2019-07-26 06:18] UgoCaneFifone commented on #4
Thanks by all Mac OS Users! Great projet !

[2019-07-26 06:25] puleyo commented on #4
Wow !
Unofficial mmmm....

This is a great emulator, this must become an official port !
Go on !
Thank you !!!

[2019-07-26 19:24] kyr0 commented on #4
Thanks a lot to you all! :) I'm happy as well. This project was/is fun and a good opportunity to learn for me. And it's just amazing to play all these games of my childhood on my Macbook in native speed and feeling :)

If you'd like to help this port to gain a little more momentum, you could also show your interest for an official port in this post of the official forum: https://pcem-emulator.co.u

[2019-08-03 09:46] Alessandro1970 opened #5 "unofficial-mac-v14-opengl3-beta does not start on Mojave"
Hi,

Could tell me how run PCem on MBP on Mojave ?

The app doesn't start, step by step after copying the pcem in the app folder what can I have to do ?

[2019-08-03 10:45] kyr0 commented on #5
Hi,

unfortunately I'm in greece atm and have no laptop with me. Can you open up a Terminal, right-click the PCem app image, click "Open package contents" (or smth like this it is called), change to the Contents folder in there, until you find a "pcem" executable binary. Then type "cd" in the terminal, put a space, and drag & drop the folder where the pcem binary is located in to the terminal wind

[2019-09-27 05:47] halfnibble commented on #5
dyld: Library not loaded: /usr/local/Cellar/wxmac/3.0.4_1/lib/libwx_osx_cocoau_html-3.0.0.4.0.dylib
  Referenced from: /Applications/PCem.app/Contents/MacOS/./libwx_osx_cocoau_xrc-3.0.dylib
  Reason: image not found
Abort trap: 6

[2019-09-27 05:51] halfnibble commented on #5
I ran this based on the developer docs `brew install wxmac sdl2 openal-soft`

And now when I run ./pcem, I get different output.
Set fullspeed - 0 0 0
Menu item not found: 1403
Menu item not found: 1404
![Screen Shot 2019-09-26 at 10 50 25 PM](https://user-images.githubusercontent.com/5139752/65745293-12747a00-e0b0-11e9-96d5-4a6f2b7ae40e.png)

[2019-09-27 05:58] halfnibble commented on #5
Ah. I forgot to install the ROMS. After doing that and installing those packages with brew, I got it running.

[2019-09-29 05:09] kyr0 commented on #5
Thanks @halfnibble for reporting and updating on this. Glad it works for you 👍
@Alessandro1970 Does this issue still bother you?

[2020-01-03 15:33] tinue opened #6 "PCEM aborts with "mprotect: Cannot allocate memory""
When starting pcem from the command line, I immediately get the error "mprotect: Cannot allocate memory". This is with MacOS 10.15.2.
Thanks! Martin

[2020-01-11 00:04] doylecentral commented on #5
Hello. I tried running on Mojave.
I used your suggested troubleshooting step above. Here is the out put
/Applications/PCem.app/Contents/MacOS/launch_pcem.sh
Set fullspeed - 0 0 0
Menu item not found: 1403
Menu item not found: 1404

I had manually add the support folder

[2020-02-03 07:48] kyr0 commented on #6
Sorry for the late response. I'll have a look at this for the V15 port

[2020-02-03 07:49] kyr0 commented on #5
I'm running Mojave myself now and will port V15 once I've got some spare time

[2020-04-16 20:54] earlthesquirrel commented on #5
FYI -- Similar issue happened with Catalina, just FYI.
(and is there a Catalina build available yet?  Just curious)
It generated a mprotect: Cannot allocate memory after I got this part straight.. (so I moved to that ticket)

[2020-04-16 21:12] earlthesquirrel commented on #6
FYI -- 10.15.4 has same issue.  I created the ~/Library/Application Support/PCem/roms folder (it didn't exist) and copied some ROMs there.    That part of the install wasn't clear, but puzzled it out..

[2020-04-16 21:14] earlthesquirrel commented on #6
FYI -- I tried reducing the # of roms in the folder to just the ibmpc and ibmpcjr folders that I have.  Same result.

[2020-05-07 06:14] brunocastello commented on #5
I'm on Catalina 10.15.4, I'm having the same message. I downloaded the ROMs and saved them where they should be. But the app is still showing that message to me. How do I fix this?

[2020-12-13 23:52] Sly-007 commented on #5
Hi,  I have Catalina and the same as halfnibble.  I tried is brew command but it installs a newer version (3.0.5.1) of wxmac.  Can I do something to get the right wxmac version ?

[2021-02-09 03:52] brunocastello opened #7 "PCem v17?"
Any chance of an update to v17 for macOS? I am interested in trying it on both Intel Mac and M1 Mac*

* = When I can get an M1 one.

[2021-02-12 05:52] almeath commented on #7
The dynamic core in v17 is currently 'broken' to the extent that if you compile in macOS it will run extremely slowly and basically be unusable. I can confirm this myself as I built from source and tested it in Mojave. I have successfully built v16 and patched in the experimental Open GL 3.0 support as well (to use shaders). It works great. If you would like a copy, let me know and I will provide

[2021-02-12 19:19] brunocastello commented on #7
Oh damn, but thanks. @almeath I sure want a copy please, at the moment I have an Intel Mac (2013 MacBook Pro Retina "13, i7 Dual Core 2.8GHz). Probably not one of the strongest Macs, and will probably struggle a bit, but I want to try out for FIFA 9X games, with a view for a future Apple Silicon upgrade between the end of 2021 and start of 2022.

EDIT: If possible I would also like to fork the pat

[2021-02-13 06:38] almeath commented on #7
Actually, it is easier for me to just fork it now and let you build from there directly. Should be available now:

https://github.com/almeath/PCemV16macOS

Build instructions are in the README.md

Let me know if you need any help.

I think it is a good idea to hold off on Apple Silicon until there have been several generations of updates, which also allows more time for the Mac community to catch

[2021-02-13 16:15] brunocastello commented on #7
Thanks! I'll give it a go sometime this weekend, and I will report back too.

EDIT: I've got this error after running make:

codegen_allocator.c:56:28: error: implicit declaration of function 'rand' is invalid in C99 [-Werror,-Wimplicit-function-declaration]
                block_nr = rand() & MEM_BLOCK_MASK;
                           ^
1 error generated.
make[1]: *** [pcem-codegen_allocator.o] E

[2021-02-13 21:26] almeath commented on #7
I’ll build this for you and post a link to the compiled output. However, in the meantime, can you try installing this in homebrew:

brew install gcc

After that, try running configure and make again.

If that fails, can you show me your full Terminal output after running both the ./configure commands?

It might be that you are missing a C / C++11 dependency. I had similar errors when building cust

[2021-02-13 22:28] almeath commented on #7
Here is the compiled output, with the pcem executable built.

https://www.dropbox.com/s/z061mhaf3io9c3t/PCemV16macOS-master.zip?dl=0

I am still interested to know if you can build it yourself, as I may have to add some extra brew dependencies to the build instructions.

[2021-02-13 22:54] brunocastello commented on #7
after brew install gcc and trying to compile again, I'm stuck with the same error:

                           ^

No luck. Well, I'll download your build and try it out.

[2021-02-13 22:59] brunocastello commented on #7
Here's the output for your build:

I've seen that before with one of the previous builds. I have to remember how I managed to overcome this one...

[2021-02-13 23:10] almeath commented on #7
Just confirming you ran the command to install the dependencies?

brew install sdl2 brew install wxmac brew install openal-soft

EDIT: I included your missing dylib in this zip file: these dependencies are included inside the PCem app that @kyr0 included with his earlier build. Maybe try putting these in your usr/local/lib ?

https://www.dropbox.com/s/gbgal1yegvmkvi5/dylibs.zip?dl=0

[2021-02-14 00:26] brunocastello commented on #7
Yes

I think the problem is the versioning. I do have the missing libraries in usr/local/lib, but they are newer versions (not just this one, there are others). I'll try these now

[2021-02-14 00:45] brunocastello commented on #7
No luck. I'm on WxMac 3.0.5.1 according to homebrew, and apparently pcem wants 3.0. I remember I've hit the same roadblock when I tried v14, but I did not insist back then. And there is no webview dylib within this latest version.

[2021-02-14 00:49] brunocastello commented on #7
This is the output when I add the webview library:

MacBruno-Pro:PCemV16macOS-master Bruninho$ ./pcem
dyld: Library not loaded: /usr/local/opt/wxmac/lib/libwx_osx_cocoau_webview-3.0.dylib
  Referenced from: /Users/Bruninho/Downloads/PCemV16macOS-master/./pcem
  Reason: Incompatible library version: pcem requires version 6.0.0 or later, but libwx_osx_cocoau_webview-3.0.dylib provides version 5.0.0

[2021-02-14 04:44] almeath commented on #7
OK, this appears to be a Catalina / Big Sur issue which I need to investigate. I am using Mojave on my main system, but I tested the binary in Big Sur on my MacBook Pro and it produced the same error about the missing library for libwx_osx_cocoau_xrc-3.0.dylib

[2021-02-14 04:57] brunocastello commented on #7
Yup, I’m on Big Sur 11.2. Apparently wxmac 3.0.5.1 from homebrew does not have some libs like webview.

[2021-02-14 05:16] almeath commented on #7
Yeah, I’m on 11.2 as well. I’m glad I kept it off my iMac for the time being. I believe the error will not appear in Catalina either.. this issue is exclusive to Big Sur. I hope to get to the bottom of this but in the meantime I’ll need to amend my build instructions to warn it is not Big Sur compatible.

[2021-02-15 13:17] kyr0 commented on #7
Hey guys,
glad to see so much interest in PCem for macOS. I'm a bit out of the game as you probably felt already, but I could also try to get the code with your changes @almeath to work on my machine (Catalina) so we know the facts. Also, maybe we'd like to make a common repo and maybe even little website and common issue tracker that is version agnostic -- like PCem4mac or smth. I can do this qui

[2021-02-15 13:38] brunocastello commented on #7
That would be nice, I’d be up for testing and input some feedback when I can too. I’m not very technical with the code, since I am just a UI/UX designer. But I can do some testing.

As of now, my current choice for emulation is UTM/QEMU, runs on both macOS and iOS, but does not have any 3Dfx emulation like DOSBox-X and PCem. So I keep trying to support both projects, looking forward to the future

[2021-02-15 15:30] kyr0 commented on #7
Regarding wx, I found this in another fork of my project for PCemV15: https://github.com/jamesfreeman959/PCem_macOS/blob/9ef6516e52a72e0b52cd7b8165c24c1d29d8c0b1/macos.patch

Might be worth investigating what he also did in addition to that

[2021-02-15 15:51] kyr0 commented on #7
@almeath Your code can be compiled on Catalina without any warnings or errors. Seems to work stable; Good work! 👍

![Bildschirmfoto 2021-02-15 um 16 50 53](https://user-images.githubusercontent.com/454817/107967927-08f1f780-6fae-11eb-8d25-983b8b61b2df.png)

[2021-02-15 15:57] kyr0 commented on #7
@brunocastello The fomula for brew for wxmac includes --enable-webview -- a blizzard shall hit me if PCem actually uses that feature... There are two options to fix the issue for you when it's only wxmac being the trouble...

https://github.com/Homebrew/homebrew-core/blob/HEAD/Formula/wxmac.rb#L44

Take a look at that and install wxmac yourself but without the --enable-webview

Or find out the rig

[2021-02-15 15:59] kyr0 commented on #7
You can rawly copy the file I "wxmac.rb" save it as my-wxmac.rb, remove --enable-webview for example and run:

brew install --build-from-source ./my-wxmac.rb

Afterwards, try the ./configure of PCem again... :)
It's an ugly hack because one should update the dependencies of brew for wxmac for Big Sur and merge upstream... but when this works for you, it works...

[2021-02-15 17:30] almeath commented on #7
Good to see you back @kyr0 :)

Today I have been trying to compile the binary directly in Big Sur and I am encountering a series of errors referring to rand, gettimeofday, malloc, and open/close functions. The errors are similar with PCem 16 and 17 source.

I overcome all these errors with various #include additions and edits, but I end up with a binary that crashes immediately upon launch. I woul

[2021-02-15 18:03] almeath commented on #7
Incidentally, I tried removing the reference to webview, reinstalling wxmac under Mojave, and then re-compiling PCem. The resulting executable still produces the following errors (when run in Big Sur):

dyld: Library not loaded: /usr/local/opt/wxmac/lib/libwx_osx_cocoau_webview-3.0.dylib
  Referenced from: /Users/almeath/Desktop/PCemV16macOS-master/pcem
  Reason: Incompatible library version: pcem

[2021-02-15 18:30] kyr0 commented on #7
Interesting, just for diagnosis -- what is the output of `otool -L` for your binary under Big Sur?
Mine is:
![Bildschirmfoto 2021-02-15 um 19 30 07](https://user-images.githubusercontent.com/454817/107982415-4d888d80-6fc4-11eb-8a4d-1af38d3c9bee.png)

[2021-02-15 18:34] kyr0 commented on #7
I think this is not a Big Sur issue ... this is a homebrew / wxmac configure and/or feature selection per OS issue as it seems I'm also running wxmac version 3.05 too:

![Bildschirmfoto 2021-02-15 um 19 32 42](https://user-images.githubusercontent.com/454817/107982575-93ddec80-6fc4-11eb-9158-41db7e04572b.png)

[2021-02-15 18:39] almeath commented on #7
This is what I see under Big Sur:

/Users/almeath/Desktop/PCemV16macOS-master/pcem:
	/usr/lib/libSystem.B.dylib (compatibility version 1.0.0, current version 1252.250.1)
	/System/Library/Frameworks/OpenGL.framework/Versions/A/OpenGL (compatibility version 1.0.0, current version 1.0.0)
	/System/Library/Frameworks/OpenAL.framework/Versions/A/OpenAL (compatibility version 1.0.0, current version 1.0.0

[2021-02-15 18:40] almeath commented on #7
And under Mojave, where I compiled successfully:

/Users/almeath/Desktop/PCemV16/pcem:
	/usr/lib/libSystem.B.dylib (compatibility version 1.0.0, current version 1252.250.1)
	/System/Library/Frameworks/OpenGL.framework/Versions/A/OpenGL (compatibility version 1.0.0, current version 1.0.0)
	/System/Library/Frameworks/OpenAL.framework/Versions/A/OpenAL (compatibility version 1.0.0, current version 1.

[2021-02-15 18:47] kyr0 commented on #7
@almeath  Okay, can you please try the following?

1) Create a file `wxmac-no-webview.rb` and put the contents of https://gist.github.com/kyr0/53987c9e1c735e511d601caa5d5f6983
(I removed `--enable-webview` in this one)

2) Run: `brew reinstall --build-from-source wxmac-no-webview.rb`

Then `./configure && make` PCem again

With a lot of luck it will not link in webview in the binary as it is not p

[2021-02-15 18:52] kyr0 commented on #7
Def. better to have it compiling on Big Sur as well.

Btw, in 2018 Apple did state that they would remove support for OpenGL from macOS in the future. This would be the end of this platform porting project...

But... as it seems, Apple is porting OpenGL to Apple Silicon as well. So @brunocastello chances are good that PCem will run on Apple Silicon too https://developer.apple.com/forums/thread/650

[2021-02-15 18:55] brunocastello commented on #7
Yeah, you could also install glfw3 and glew with homebrew if they (apple) had fully deprecated it. Not sure if it would be enough.

[2021-02-15 18:56] almeath commented on #7
Quick question @kyr0 , where should I be placing the "wxmac-no-webview.rb" so that homebrew finds it with that command?

[2021-02-15 19:01] kyr0 commented on #7
@almeath just in the same folder from where you run this command: `brew reinstall --build-from-source ./wxmac-no-webview.rb`

[2021-02-15 19:01] kyr0 commented on #7
@almeath Snap, I missed the `./` in the command!

[2021-02-15 19:02] kyr0 commented on #7
@brunocastello I tried glew before but the shaders Sarah used in her cod gave me major headaches with glew back then

[2021-02-15 19:03] kyr0 commented on #7
So, I moved this repo to the new organization `PCemOnMac` that I've just created and invited you guys :)

@almeath If you could transfer your Repo here -- would be nice. Therefore it would all be together again. We can keep V14 and V16 separated I think -- no need to backport. Maybe I will ask the other guy who did V15 to also transfer here if he would be so kind...

For transport it's one of the

[2021-02-15 19:07] almeath commented on #7
I must be doing something dumb:

Almeath's-iMac% brew reinstall --build-from-source ./wxmac-no-webview.rb
Error: No available formula with the name "wxmac-no-webview".
In formula file: /Users/almeath/Desktop/wxmac/wxmac-no-webview.rb
Expected to find class WxmacNoWebview, but only found: Wxmac.
Almeath's-iMac%

[2021-02-15 19:08] almeath commented on #7
Thanks, will look at transferring soon as possible 👍

[2021-02-15 19:12] kyr0 commented on #7
Actually, this is fine; at least it was for me. It first tells me this, then it continues:

![Bildschirmfoto 2021-02-15 um 20 11 48](https://user-images.githubusercontent.com/454817/107985255-0bfae100-6fca-11eb-9330-0b8e18ef20cb.png)

Could you check your homebrew version? I'm running `3.0.1` here
![Bildschirmfoto 2021-02-15 um 20 12 08](https://user-images.githubusercontent.com/454817/107985285-1

[2021-02-15 19:13] almeath commented on #7
This is on my Mojave install:

Homebrew 3.0.1
Homebrew/homebrew-core (git revision beee1; last commit 2021-02-15)
Homebrew/homebrew-cask (git revision 388d5; last commit 2021-02-15)

[2021-02-15 19:14] brunocastello commented on #7
Mine is 3.0.0, I'm sticking to it as much as I can because of other professional projects, I'm running Valet-Plus for my Magento works.

[2021-02-15 19:16] kyr0 commented on #7
Lol it's becoming witchcraft :D Why is the same version of code behaving differently for u? Could you check the contents and encoding of the Ruby file? Super weird that it cannot find the Formula definition as this is nothing but a valid formula definition xD

[2021-02-15 19:17] brunocastello commented on #7
I'll try your rb file soon, I still have 2 hours of work to go

[2021-02-15 19:19] kyr0 commented on #7
Alternatively, wxmac can also be configured from source... it's the same process... just configure, make, make install

Source is: `https://github.com/wxWidgets/wxWidgets/releases/download/v3.0.5.1/wxWidgets-3.0.5.1.tar.bz2`

then
`./configure --prefix=/usr/local/Cellar/wxmac/3.0.5.1_1 --enable-clipboard --enable-controls --enable-dataviewctrl --enable-display --enable-dnd --enable-graphics_ctx --

[2021-02-15 19:23] kyr0 commented on #7
I'm so sorry I cannot be of more help here... just have no Big Sur installation and I cannot really update as my music software and thousands of plugins for DSP are very sensible with the OS versions..

[2021-02-15 19:27] almeath commented on #7
That's ok - I have everything from El Capitan up to Big Sur, on multiple machines, so happy to perform tests. I am compiling wxmac and will try one more time with a fresh binary before calling it a night.

[2021-02-15 19:28] brunocastello commented on #7
I'm also compiling wxmac with the 2nd method right now... It will probably take a long time. (where does it install later?)

[2021-02-15 19:29] kyr0 commented on #7
Where are u guys located btw? I'm from Munich, Germany

[2021-02-15 19:29] brunocastello commented on #7
Rio de Janeiro, Brazil. I'm probably 4 hours behind you

[2021-02-15 19:31] kyr0 commented on #7
Uh, Rio, nice :)

[2021-02-15 19:35] almeath commented on #7
Australia - yes I am a night owl ;-)

[2021-02-15 19:40] brunocastello commented on #7
ASAP when the pandemic is over or is safe to travel, I'll be moving to Spain... Somewhere in Catalonia, near Barcelona.

[2021-02-15 19:44] almeath commented on #7
Installed it, with the following confirmation:

[code]

It is there, under usr/local/Cellar/wxmac

But when I compile PCem, I get the following:

[code]

I'll pick up on this again tomorrow. For reference, I have attached the contents of the wxmac-no-webview.rb which I was trying earlier.

[wxmac-no-webview.rb.zip](https://github.com/PCemOnMac/PCemV14MacOSX/files/5983728/wxmac-no-webview.rb.zip)

[2021-02-15 19:47] brunocastello commented on #7
I did the route with compiling from source on 2nd method, and it finished without errors, same install message. However:

MacBruno-Pro:wxwidgets Bruninho$ wx-config --libs
-bash: wx-config: command not found

Apparently it's not working? I'll try the homebrew route with the rb file

[2021-02-15 19:50] almeath commented on #7
I just saw I could configure with this:

--with-wxdir=PATH

Compiling again

It had to be pointed to the wx-config here:

<img width="483" alt="Screen Shot 2021-02-16 at 3 51 05 am" src="https://user-images.githubusercontent.com/5726214/107988081-38365200-700a-11eb-8444-3cccaa6b7a10.png">

[2021-02-15 19:52] almeath commented on #7
The executable launches in Mojave .. moving to Big Sur to test

[2021-02-15 19:53] brunocastello commented on #7
I'll compile again like mentioned above... PATH is /usr/local/Cellar/wxmac/3.0.5.1_1/bin ?

[2021-02-15 19:56] almeath commented on #7
Only if you installed wxmac from source as described above. That is where it put its config file on my system.

Unfortunately, I just tested the binary in Big Sur and got the exact same terminal error. Drat!

[code]

Will have to sign off for now .. but happy to keep at this. One battle is just getting it to run at all in Big Sur, regardless of whether it is compiled in any of Mojave/Catalina/Big

[2021-02-15 20:02] brunocastello commented on #7
I still keep getting the same error for wx-config even though I have changed the configure.

I'll try the 1st method now through homebrew + rb file

[2021-02-15 21:07] kyr0 commented on #7
@brunocastello The reason why you get command not found for wx-config is because this bin folder is not in $PATH, however, this is not so much relevant I guess. The point here is, that the binary linked in a shared library object that doesn't statisfy the version that is required --  we need to find out why that is :/

@almeath Ugh.. it's strange that wxmac depends on webview dylib even if it not

[2021-02-15 22:38] brunocastello commented on #7
@kyr0 does this info helps in any way? https://github.com/wxWidgets/wxWidgets/commit/55c50f36dc5f3b466ac2fd2f8bd1e1639913bb08

[2021-02-16 05:11] almeath commented on #7
Success! The way to do this is:

In **Mojave** or **Catalina**:

(if you never installed wxmac with Homebrew, skip step 1)

1. brew uninstall wxmac
2. Download: https://github.com/wxWidgets/wxWidgets/releases/download/v3.0.5.1/wxWidgets-3.0.5.1.tar.bz2
3. cd to the wxWidgets folder and run:

`./configure --prefix=/usr/local/Cellar/wxmac/3.0.5.1_1 --enable-clipboard --enable-controls --enable-datav

[2021-02-16 05:15] almeath commented on #7
To make things easer for @brunocastello to test, I have uploaded PCemv16 pre-built and also the wxmac install. Just put the wxmac in usr/local/Cellar (make sure any old installs are removed) and try running the PCem executable.

Let me know how you go.

[wxmac.zip](https://github.com/PCemOnMac/PCemV14MacOSX/files/5986251/wxmac.zip)

[PCemV16macOS.zip](https://github.com/PCemOnMac/PCemV14MacOSX/fil

[2021-02-16 05:27] almeath commented on #7
I have updated my instructions on the Github repository - let me know if there are any errors. :-)

[2021-02-16 06:18] almeath commented on #7
Following the above procedure, this is PCem v17:

[PCemV17macOS.zip](https://github.com/PCemOnMac/PCemV14MacOSX/files/5986499/PCemV17macOS.zip)

I have not yet tested this for the 'performance' problems that I read about on the PCem forum.

As soon as possible I will upload the source of v16 and v17 to the merged repo and we can start checking out the code.

[2021-02-16 08:59] kyr0 commented on #7
Hey @almeath :)

wooow!!! Thank you for the huge accomplishments. Really cool to see this working yay!!

I can then also update my scripts or even make new repos for auto-building DMG images for installers for all macOS versions and PCem versions.

I think if we keep each repo for each version seperate is a good thing because maybe Sarah wants to take the patches at one point and then she only nee

[2021-02-16 09:00] kyr0 commented on #7
@almeath Btw if you accept the email link sent invite, I can make you an admin of this organization so that you can manage to switch ownership to this organization and still have full control over everything :)

[2021-02-16 09:53] almeath commented on #7
I'm glad to see it working - let's hope @brunocastello can get it running too.

I have accepted the invite - just not sure how to move my existing v16 fork into it?

EDIT: I think I have done it right - I transferred my existing v16 fork and I also uploaded a fresh copy of my v17 repository. I updated the instructions accordingly and also made reference to the reported performance issues with v17.

[2021-02-16 12:24] almeath commented on #7
@brunocastello , I replied to your VOGONS post about PCem 17 for the benefit of those on that board (Bruninho is you, right?).

https://www.vogons.org/viewtopic.php?f=24&t=77945&p=937939#p937939

@kyr0 , I hope it was not forward of me to post a link to our common repo? Should we provide some information on the PCem board as well, maybe an update to your original posts about v14? I cannot find any

[2021-02-16 13:00] almeath commented on #7
I figured it out! Tonight I will upload the commits to the repos and let me know what you think. I got a successful compile of each of 16 and 17 under Big Sur. :)

[2021-02-16 13:07] Alessandro1970 commented on #4
Hi,
Apple has deprecated opengl and next year rosetta2 will begin to abandon us.
It would be necessary to start supporting Metal and AppleSilicon M1.
For the rest PCem will have a great future, I believe!
bye

[2021-02-16 13:27] kyr0 commented on #7
@almeath You just became an admin/a co-owner of this organization 👍

It was perfect that you commented on the board :) Also we can let Sarah know at some point that a community has formed to support macOS a bit more actively. We only need to make sure that Mac support requests really go here - otherwise I think she will not be happy when people ask her about Mac-specific issues as this is an unoff

[2021-02-16 13:28] kyr0 commented on #7
Maybe we also want to have some better place to communicate than this issue hahahaa
I thought of a discord, or gitter channel. What do you guys think? Too much? Or nice idea?

[2021-02-16 13:37] kyr0 commented on #4
Hey @Alessandro1970
actually, as far as I've read, Apple is having support for OpenGL on Apple Silicon: https://developer.apple.com/forums/thread/650427

Do you have more recent info about rosetta removing support for OpenGL completely?
Best :)

[2021-02-16 13:40] Alessandro1970 commented on #4
Ok, but Metal and Arm code give best result for us...

[2021-02-16 13:40] kyr0 commented on #4
Yeah, at some point we need to do this :) https://www.raywenderlich.com/9211-moving-from-opengl-to-metal

[2021-02-16 13:41] kyr0 commented on #4
Another opportunity to learn... xD

[2021-02-16 13:42] Alessandro1970 commented on #4
Will Pcem have an Universal core ? (intel+ARM)

[2021-02-16 15:00] brunocastello commented on #7
Goooooooooood morning, Vietnam! I had email notifications from GitHub disabled, because there were too many from various issues around. I just came to check and read all the news now after @almeath 's post on VOGONS forums. Let's see...

[2021-02-16 15:05] brunocastello commented on #7
I'll of course test his ready-made builds, but first let me try to build them myself to make sure my environment works for future proof and newer builds later. I'll report back when possible!

[2021-02-16 15:23] almeath commented on #7
I am fine with the consensus on that. I think I registered for discord but only used it once. I am happy to use that or anything else you think is most suitable for a collaborative project.

I was also wondering what Sarah's position would be on all this, but it is true we are not modding PCem, just trying to get the vanilla Linux release to work on another platform. I am new to the PCem forum and

[2021-02-16 15:27] almeath commented on #7
I have uploaded my commits to make v16 compile on Big Sur.

https://github.com/PCemOnMac/PCemV16macOS

I noticed that the changes are backwards compatible with Mojave, but you have to adjust the ./configure command to match which version of wxmac you have installed (brew vs. the one we modified from source). If you installed the modified one, use the Big Sur instructions. On Big Sur, successful co

[2021-02-16 15:29] brunocastello commented on #7
Wouldn't the PCem forums be more suitable, if Sarah agrees? This way we can keep the discussions for posterity and try to bring more mac devs/enthusiasts onboard. I think I made an account there, but it was never approved. I've never used discord either.

My "retro heart" says we should set up an IRC channel #PCemOnMac or whatever on freenode server, similar to #dosbox and #vogons there, so it giv

[2021-02-16 15:43] brunocastello commented on #7
I can confirm that I've successfully compiled both modified wxmac and PCemV16macOS in Big Sur 11.2 on my 2013 rMBP. I'm just a bit annoyed (I think I have OCD...) that wx-config doesn't run like the brew one does but I know that it needs to be added to $PATH and I've never had an use for it, so no worries.

Next step right now is to download and try to compile V17 and then later after my work test

[2021-02-16 15:44] almeath commented on #7
Yeah, the wxmac compile takes ages, but you can speed it up by assigning more cores, i.e. make -j4

I finished and uploaded the commits for v17 as well. Fully tested in 11.2.1 on my MacBook.

[2021-02-16 15:46] almeath commented on #7
Maybe we can figure out how to modify the brew version of wxmac, but I just wanted the quickest path to getting this to work ;-)

[2021-02-16 15:51] brunocastello commented on #7
My 2013 one has only two cores, it's a dual core i7, unfortunately so it's -j2 for me. But, it's speedy anyway. I've just cleaned it one week ago and replaced faulty speakers, it's a second hand macbook, still a very good one.

After I compile V17 (starting now) I will also try out the rb formula kyr0 posted to modify the brew one with changes to mirror your steps. Maybe it works too.

[2021-02-16 15:59] brunocastello commented on #7
V17 also builds successfully. So, I have both builds working.

Next - first I have to pause for a while to look after my work now - I will try out a different wxmac to see what happens.

[2021-02-16 16:11] almeath commented on #7
Glad to hear that they both work! I need to get some sleep down here anyway. ;-)

[2021-02-16 17:44] brunocastello commented on #7
Just came to confirm that PCem will really segfault with both versions when using the unmodified wxmac 3.0.5.1 from homebrew. It really has to be modified in order to allow PCem to run. I'll now proceed to try out the method with the .rb file to modify the homebrew version when installing it.

Hope that the V15 repo owner will come to join us, I think he did a script to build an executable to run

[2021-02-16 17:51] kyr0 commented on #7
@almeath I created a test results issue in each of V16 and V17 repos and wrote for my Catalina, it all works nicely just OpenGL3 not available in V17 -- maybe because of the configure flags :)

@brunocastello Agree with IRC, also agree with talking to Sarah, just I remember from 2019 that she was kinda opinionated in not supporting Mac officially. I can absolutely understand her because keeping it

[2021-02-16 17:54] kyr0 commented on #7
@brunocastello For V15... I'd import his code in here with his commits 1:1 and full git history -- so he also gets the props that belong to him even if he won't respond the next few days :) He's invited in the orga of course, so he can decide

[2021-02-16 18:09] almeath commented on #7
Hmm.. can you point me to the original diff file / commits for patching in the OpenGL 3.0 support? I just carried those across from your v14 build. Interesting that it works in v16 but not 17..

I have not noticed any sound or video lag in v16, even when scaling to 5k screen and using shaders. Although, I have been testing on an i9 iMac, so probably not the best system for getting average benchmar

[2021-02-16 18:22] brunocastello commented on #7
I can also confirm that building wxmac from homebrew using the rb script (I modified to use the configure args from almeath's command) works now, both V16 and V17 still works as expected. I'll conduct some performance tests later in the night. I'm attaching the rb script I used in case anyone want to check it out, but I'm sure there is no difference with the original one... I'm saving it here as t

[2021-02-17 02:43] brunocastello commented on #7
Just came back to say that V16 crashed (segfault) when I tried to build an Windows 98 machine. But V17 started normally and I am currently running the Windows 98 install. Just FYI guys, apparently there is something between V16 and V17 that allows the machine to POST on V17.

I created an app using the skeleton of the V15 app, just replacing the libraries and the executable from V17.

However the

[2021-02-17 03:25] almeath commented on #7
I’ll post full details when I am home later, but in summary I am not experiencing in-emulation crashes in v16 on Mojave, and I have working installs of Windows 95C and 98SE. I’ve tested a range of games including those using SLI Voodoo 2. Performance is “playable”, by which I mean it seems the best you can expect from non-pass through software based emulation. My iMac seems to handle a 233MMX with

[2021-02-17 05:11] brunocastello commented on #7
I’ve set up a bare bones 98SE with P200MMX and 512MB ram, but I did not tick the SLI box, because I thought that it would be too much for my old mac to handle. Need to find a sweet spot for this machine and when we have a M1 Mac, this can be a baseline for me to go further.

I can’t remember if I ever had a real voodoo card, probably not. My first card was probably an ATi card. Now that I am remem

[2021-02-17 08:46] kyr0 commented on #7
@brunocastello Yes, I can confirm that the grey square box and the segfault with a long wait time is happening for me for all versions of PCem and also all macOS versions I've been running over the years. The grey square could be a simple one... wxwindows needs to be called differently, I guess. The segfault we need to look into the system signal handling code and how it deals with the processes.

[2021-02-17 08:46] kyr0 commented on #7
To add on that, moving PCem to a different screen makes it disappear :)

[2021-02-17 08:58] kyr0 commented on #7
@almeath OpenGL 3 availability depends on this

https://github.com/PCemOnMac/PCemV14MacOSX/blob/11eb37c7c84ed637aeae0bfada88108e34b3fbbb/src/wx-sdl2-video.c#L41

and finally the dynamic test here:

https://github.com/PCemOnMac/PCemV14MacOSX/blob/11eb37c7c84ed637aeae0bfada88108e34b3fbbb/src/wx-sdl2-video-gl3.c#L1635

Which tries to create a GL window in a way it only works in OpenGL 3 (that was the

[2021-02-17 10:09] jamesfreeman959 commented on #7
Hello everyone! Thank you for the invite earlier in this thread @kyr0 - I'm a bit maxed out right now but keeping an eye on this thread, and happy to try and support as time permits. Currently running a couple of older (2013/2015) Mac's, both on Catalina right now - only the 2015 can go to Big Sur and I haven't had the bandwidth to upgrade it....

[2021-02-17 11:39] brunocastello commented on #7
I did a little research on other minor and low priority stuff:
https://trac.wxwidgets.org/ticket/18146

I was researching about wxwidgets and Metal and found this, completely unrelated to what I was searching for.

EDIT: Collecting more info. I’ll be updating this post as soon as I find more.
https://forums.wxwidgets.org/viewtopic.php?t=45552

[2021-02-17 15:22] almeath commented on #7
OK, so those are still in the source code for v17 .. I need to work out what is deactivating them. I can see it is affecting the build in Mojave as well, so it is independent of the macOS host.

[2021-02-17 15:39] brunocastello commented on #7
When this is called, while a game is running or right when a machine is booted? Just so I can test later. V17 is running, but V16 didn't even start any system on my Big Sur mac. I have another iMac 2009 running an unsupported Catalina install (thanks to DOSDUDE1) but I haven't tested there yet, because I haven't been around this iMac yet.

[2021-02-17 15:46] almeath commented on #7
It should be active when the machine is booted. Right-clicking on the active window should provide config options, with Open GL 3 being the last option under “video”. It is the only option that will allow use of shaders, and it has its own independent scaling settings.

[2021-02-17 16:29] almeath commented on #7
I think I fixed it. @brunocastello , can you try compiling from the v17 source and when you boot a machine, right click the screen, go to video and then "render driver" and confirm if you can select Open GL 3.0 .. Then the last option under 'video' should now be available, so that you can add shaders and change the scale, etc.

[2021-02-17 16:56] brunocastello commented on #7
Sure, I can compile it again. I'll leave it compiling and I have a work meeting now, so in around 3 or 4 hours I can test.

EDIT: Actually it was quicker than I thought. My meeting was postponed 30 min, so I had time. I compiled V17, booted a machine, and I was able to select it (OpenGL 3.0).

[2021-02-17 17:10] almeath commented on #7
Excellent. Glad to get that sorted.

So, I will look into testing my machines with v17 to assess performance. It is interesting that @kyr0 says it actually appears to run faster than v16 on his Mac. Perhaps the reports of a ‘broken’ dynamic recompiler were inaccurate or outdated.

[2021-02-17 19:15] kyr0 commented on #7
@almeath I recompiled with your patch and OpenGL 3 works now for V17 too. Cool!

[2021-02-17 19:37] kyr0 commented on #7
@jamesfreeman959 Nice to see u here 👍  You're invited as a orga member too (there should be an email)

[2021-02-17 22:50] brunocastello commented on #7
Just a heads up guys, in the next days I will be configuring my WIN98SE machine on PCem to try and run FIFA 98 RTWC (and 99) to check the performance. I think I will have a better moment for these things on friday night due to time constraints.

[2021-02-18 03:06] almeath commented on #7
With the testing I have done so far, I highly recommend using Windows 95B or C whenever a game is compatible .. Windows 98SE seems to introduce more overhead which has a noticeable effect on Voodoo 2 speed, even with SLI. Then again, I am not an expert with Windows and maybe there are driver issues with some games. I noticed much better frame rates in Windows 95 in general, but it seems to be less

[2021-02-18 12:18] brunocastello commented on #7
The W98SE PCem machine I built first other night, had a 200MMX, I haven't tried out any game yet, but maybe I should tone down a bit and try out something like the mobile P300 you mentioned. My first laptop, an Acer Extensa, in 1995/1996 had a Pentium II 233Mhz if I am not wrong. Hopefully I can change the CPU with the same machine to make more tests without having to install W98 again and again.

[2021-02-18 12:37] almeath commented on #7
Have you guys done any tests with different BIOS and machines in v17? On my iMac with Mojave, basically everything just sits on a black screen when launched. These are verified ROM sets and also working properly in v16. I am having no luck with v17 so far. If you have a confirmed working config with Win95/98, do you mind sharing it?

EDIT: Only the 8088 and Tandy 1000 BIOS will load at all - very

[2021-02-18 13:11] almeath commented on #7
As an example, loading the Packard Bell PB520R .. sits on a black screen, 0% Emulation Speed reported. Same thing on v16 loads instantly (with exact same machine settings, exact same ROMs).

[2021-02-18 13:20] kyr0 commented on #7
@almeath I'm running a Socket 7 Shuttle HOT-557 with great success

[2021-02-18 13:23] kyr0 commented on #7
@almeath Could you please download those: https://archive.org/details/dos_rom_bios_collection and try to verify on your side?

[2021-02-18 13:24] almeath commented on #7
Hmm.. so I am compiling from same source as you, and yet I get different results... how odd. Thanks for the BIOS files, I will test with those.

Also, you said you are on Catalina? I wonder if this is a problem just with Mojave. Maybe @brunocastello can tell us how he goes on Big Sur?

[2021-02-18 13:25] kyr0 commented on #7
Yes, Catalina :) Maybe it's machine or OS dependent

[2021-02-18 13:26] kyr0 commented on #7
<img width="263" alt="Bildschirmfoto 2021-02-18 um 14 26 15" src="https://user-images.githubusercontent.com/454817/108363488-43010a80-71f5-11eb-9163-84ed74829c2b.png">

[2021-02-18 13:28] almeath commented on #7
I am getting the same results with your ROMS, so we can rule out issues with my ROM set.

I also have a similar processor to yours. I am thinking this is potentially related to the macOS version.

<img width="235" alt="Screen Shot 2021-02-18 at 9 27 48 pm" src="https://user-images.githubusercontent.com/5726214/108363658-29c97f80-7230-11eb-9f55-a772b55e5d5f.png">

Unfortunately I left my MacBook Pr

[2021-02-18 13:30] kyr0 commented on #7
How odd.. why would Mojave behave so poor... strange

[2021-02-18 13:31] almeath commented on #7
Exactly - because it performs so well with v16. There is something it does not like in v17...

Perhaps, to make sure there is nothing weird going on with my compilation, can you zip up your main PCem binary and send it here? That would pretty much rule out everything apart from a Mojave-specific issue.

[2021-02-18 13:36] kyr0 commented on #7
of course -- you can also `less pcem` -- confirm to read binary, then search for "PCem v17" by typing /PCem v17 [ENTER]
[pcem.zip](https://github.com/PCemOnMac/PCemV14MacOSX/files/6003125/pcem.zip)

[2021-02-18 13:37] kyr0 commented on #7
Maybe it will segfault because the paths of the dylibs linked might be different on your system

[2021-02-18 13:41] kyr0 commented on #7
If we can make sure it's Mojave specific, we can just tell people running Mojave to please stick with V16. I guess over time, people will update and can then use V17 as well

[2021-02-18 13:50] brunocastello commented on #7
@almeath - with Big Sur I cannot load any machine on V16. Only V17 worked for me.

My Big Sur as follows:
![Screen Shot 2021-02-18 at 10 47 47 AM](https://user-images.githubusercontent.com/23453202/108366231-e5f65c00-71d6-11eb-9a34-a02a9a570a5f.png)

The W98SE machine is also a Socket 7 Shuttle HOT-557, hacked it a bit inside the config file to use 512MB RAM.

I'm using these ROMs: https://github.

[2021-02-18 14:01] almeath commented on #7
Interesting results .. @kyr0 's binary works perfectly.

So I can build both v16 and v17 on Mojave without any compilation errors. Yet only v16 runs properly. Something about being built in Catalina (and I presume Big Sur as well) makes the v17 binary function normally within Mojave... I am stumped.

[2021-02-18 14:05] almeath commented on #7
Just for the sake of completeness, I re-built v17 with both the homebrew wxmac and the modified version, and the results do not vary from the above.

[2021-02-18 14:06] kyr0 commented on #7
<img width="548" alt="Bildschirmfoto 2021-02-18 um 15 05 38" src="https://user-images.githubusercontent.com/454817/108368463-c4a76700-71fa-11eb-9a93-b83511b7c4c4.png">

What is your GCC version anyways? :)

[2021-02-18 14:06] almeath commented on #7
Configured with: --prefix=/Library/Developer/CommandLineTools/usr --with-gxx-include-dir=/Library/Developer/CommandLineTools/SDKs/MacOSX10.14.sdk/usr/include/c++/4.2.1
Apple LLVM version 10.0.1 (clang-1001.0.46.4)
Target: x86_64-apple-darwin18.7.0
Thread model: posix
InstalledDir: /Library/Developer/CommandLineTools/usr/bin

[2021-02-18 14:07] kyr0 commented on #7
@jamesfreeman959 I cloned over your V15 branch to the orga main branch https://github.com/PCemOnMac/PCemV15macOS
I hope it's fine for you :) Your invite is pending for you to become an owner too :)

[2021-02-18 14:08] kyr0 commented on #7
@almeath 1 major version difference -- difference in the opcode generated may explain the different compilation results

[2021-02-18 14:09] kyr0 commented on #7
I think that now that we've got a bunch of things working, it's time for me to split out the DMG packaging scripts and assets and make them work for V17 at least -- and bundle a Catalina-compiled binary that works everywhere

[2021-02-18 14:09] almeath commented on #7
Yes, very likely .. wow, I think I finally found a compelling reason to upgrade my iMac's OS ;-) .. actually, over the weekend I will put Catalina on an SSD and perform further tests. As you said, it might just be that Mojave users should be advised to stay on v16 (if building from source).

[2021-02-18 14:12] kyr0 commented on #7
Another one: We might want to come up with a quick and dirty website so that Mac PCem users end up there and not in the PCem forums to annoy Sarah with Mac-specific issues xD @brunocastello You said you're a designer? :D I can implement the design you come up with as I'm also a frontend developer usually

[2021-02-18 14:14] almeath commented on #7
That's a great idea.. I am happy to help write up any guides, proof read site content etc.

[2021-02-18 14:14] kyr0 commented on #7
I mean, we could just tell people, that a support group for PCem on Mac exists, that those DMG's are available now and how to use the software in general.. etc. :)

[2021-02-18 14:14] brunocastello commented on #7
I can take it, but slowly. I'll try to come up with a design. I do mostly with Adobe XD, but I have a legitimate reason to try out Figma since I am working with Figma on my new job this year.

[2021-02-18 14:15] kyr0 commented on #7
@brunocastello We use Figma in the company I work for too. It's a good tool I can say so far -- esp. for collaborative work, worth investigating :)

[2021-02-18 14:16] almeath commented on #7
And lastly, we must decide on how to communicate outside of this 1 issue from PCem 14 :-)

[2021-02-18 14:17] brunocastello commented on #7
What are the options for communicating? Something that we all already have installed or an account would be my preference

[2021-02-18 14:20] almeath commented on #7
Well, I'm on discord as mentioned, but I am not wedded to that. Anything available through a native iOS/android app would be good (but also with a web interface)

[2021-02-18 14:20] kyr0 commented on #7
I just created a chatroom -- the cool thing is that you can login directly with your GitHub account, Twitter
https://gitter.im/PCemOnMac-official/community#

[2021-02-18 14:21] almeath commented on #7
Looks great, has an iOS app too. Will get registered soon as possible.

[2021-03-28 18:38] programmingkidx opened #8 "Library not loaded: libwx_osx_cocoau_html-3.0.0.4.0.dylib"
When I try to run PCem, I see this error:

Dyld Error Message:
  dyld: Using shared cache: E2B1A630-68DD-30AC-A036-6AC018B154DA
Library not loaded: /usr/local/Cellar/wxmac/3.0.4_1/lib/libwx_osx_cocoau_html-3.0.0.4.0.dylib
  Referenced from: /Applications/PCem.app/Contents/MacOS/libwx_osx_cocoau_xrc-3.0.dylib
  Reason: image not found

My info:
Mac OS 11.1
M1 Mac

[2021-03-29 14:54] kyr0 commented on #8
Thank you for reporting this. V14 is outdated :)

Please try this version instead: https://github.com/PCemOnMac/PCemV17macOS/releases/tag/17.0.0-beta.1

[2021-04-24 19:16] TimmermanV opened #9 "'NSInternalInconsistencyException', reason: 'NSWindow drag regions should only be invalidated on the Main Thread!'"
I have built PCem according to the instructions. While the application does start and I can create a configuration using the PCem Configuration Manager, it crashes when I try to start the config. Just before it crashes it's opening a new window which I guess is for the video output of the emulated machine.

Here is the output when I manually try to launch the executable:
`Set fullspeed - 0 0 0
Men

[2021-04-24 19:56] TimmermanV commented on #9
I commented out the code that updates the window title in runpc. Now it seems to be working fine. (I just tested 1 machine configuration so far and I didn't get any further than "DISK BOOT FAILURE" for now ;-) but that is a good sign)

[2021-04-26 08:01] kyr0 commented on #9
Hi Tim :)
the boot disk failure probably is because there is no floppy disk/cdrom mounted :) (right click, select image to mount for boot)
btw I'd suggest to use our most recent code branch V17 :)
https://github.com/PCemOnMac/PCemV17macOS

[2021-04-26 16:44] TimmermanV commented on #9
Yes, I know. :-D (about the disk boot failure)
Thanks for telling me about the more recent branch! I wasn't aware of that.

Op ma 26 apr. 2021 10:02 schreef Aron Homberg ***@***.***>:

[2021-08-23 02:55] ndbroadbent commented on #7
If anyone else finds this issue, I was able to get PCemV17macOS working by following the instructions in the README: https://github.com/PCemOnMac/PCemV17macOS

[2022-05-04 12:04] carlosgonzalezp commented on #7
Hello.

I've just compilled PCEM v17 on my Apple MacBookPro M1 with MacOS Monterey and by the moment ir roons smoothly with a Pentium 133 chipset.

I'm installing windows 98 at full speed.

![imagen](https://user-images.githubusercontent.com/60425302/166676236-c23d688f-ec1b-43fa-af11-85827e8c5089.png)

[2022-05-04 17:13] brunocastello commented on #7
@carlosgonzalezp nice! Let me know if your binary is a M1 native and if any 3dfx game runs on Windows 98. For a test, try Need For Speed II SE. Both PCem and DOSBox-X devs were trying to find the root of some issues with that.

[2022-05-04 17:40] carlosgonzalezp commented on #7
Hello Bruno. The binary was compilled by me in my M1 laptop: pcem: Mach-O 64-bit executable arm64

I'll need some time to set-up the Win98 environment with DirectX. I'll try the Jedi Knight II: Academy game, that I have the original CD's and will create full ISO for installing. I'll give you feedback asap.